// In Atomic CSS or SCSS, we break each css property in one single class (similar to that of tailwind). This helps in reducing the css size significantly!

// *****NOTE- The media query for atomic css is still peding.

// List
// 1. Flexbox
// 2. Width & Height
// 3. Position

// 1. flexbox
.flex {
  display: flex;
}
.wrap {
  flex-wrap: wrap;
}
.horizontal {
  flex-direction: row;
}
.vertical {
  flex-direction: column;
}
.inline-flex {
  display: inline-flex;
}
.justify-between {
  justify-content: space-between;
}
.justify-center {
  justify-content: center;
}
.justify-even {
  justify-content: space-evenly;
}
.justify-around {
  justify-content: space-around;
}
.align-center {
  align-items: center;
}
.align-start {
  align-items: flex-start;
}
.align-end {
  align-items: flex-end;
}

// 2. Width & Height

.h-screen{
  height: 100vh;
}

@for $i from 0 through 100 {
  .width-#{$i},
  .w-#{$i} {
    width: $i * $dimensions !important;
  }
  .height-#{$i},
  .h-#{$i} {
    height: $i * $dimensions !important;
  }
}

// 3. Position

.relative {
  position: relative;
}
.absolute {
  position: absolute;
}
.fixed {
  position: fixed;
}
.inset-0{
  inset: 0
}
.top-0{
  top: 0;
} 
.right-0{
  right: 0;
} 
.bottom-0{
  bottom: 0;
} 
.left-0{
  left: 0;
}

// 4. Display

.block{
  display: block;
}
.inline{
  display: inline;
}
.inline-block{
  display: inline-block;
}

// 5. Overflow 

.overflow-auto{
  overflow: auto;
}
.overflow-hidden{
  overflow: hidden;
}